body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --output-font-size: 1.55vw;
}

* {
    box-sizing: border-box;
}

#body-wrapper {
    display: flex;
    height: 100%;
}

#input-container {
    padding: 1rem;
    width: 40%;
}

#input>textarea {
    max-width: 70ch;
    width: 100%;
    min-height: 60ch;
}

#output-container {
    width: 60%;
    padding: 1rem;
    overflow: auto;
}

.control-group {
    width: 35vw;
    display: flex;
    justify-content: space-between;
}

.control-group>* {
    margin: 0.2rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
}

#output {
    height: 35vw;
    width: 35vw;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--output-font-size);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

#output-lines {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.6;
}

input[type=text] {
    width: 20ch;
    font-family: inherit;
    font-size: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type=text]#output-filename {
    width: 16ch;
}

#output-controls {
    margin-top: 1rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    :root {
        --output-font-size: 4vw;
    }

    #body-wrapper {
        flex-direction: column;
        height: auto;
    }

    #input-container,
    #output-container {
        width: 90%;
    }

    #output {
        height: 90vw;
        width: 90vw;
    }

    .control-group {
        width: 100%;
    }

    #input>textarea {
        width: 90vw;
    }
}